@keyframes float {
  100% {
    transform: translateY(1rem);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-15rem);
  }
  80% {
    opacity: 1;
    transform: scaleY(0.6) translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: scaleY(1) translateY(0);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jump {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(0.9) translateY(0);
  }
  40% {
    transform: scale(1.1) translateY(-10rem);
  }
  80% {
    transform: scale(0.8) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translate(-50rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    opacity: 0;
    transform: translate(30rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(+120%);
  }
}

.from-right {
  animation: from-right 1s ease;
}

.from-left {
  animation: from-left 0.8s ease;
}

.jump {
  animation-name: jump;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

.appearance {
  animation: appearance 0.5s ease;
}
